<!DOCTYPE html>
<html>
  <head>
    <title><%= Detalle de Pelicula %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Detalle de Canciones </h1>
    <ul>
      <% for (let i = 0 ; i < canciones.length; i++) {%> 
        <li>
        <% canciones.titulo %> 
        </li>
    </ul>
  </body>
</html>
