<html>
    <head>
        <title>Sitio Desafio Gerar</title>
        <link rel="stylesheet" href="/stylesheets/style.css">

    </head>
    <body>
        <header>
                <p>Sitio de Gerar</p>
                <nav>
                    <ul>
                        <li>
                            <a href="/canciones/crear">Crear Canción</a>
                        </li>
                        <li>
                            <a href="/canciones">Listar Canciones</a>
                        </li>
                    </ul>
                </nav>
        </header>